body{
    text-align: center;
    background-color: beige;
}

label , #subNum{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
}

#num{
    font-weight: 100;
}

#add{
    padding-left: 0%;
    color: green;
    background-color: rgb(233, 141, 141);
    border-radius: 100%;
}

#reset{
    position: relative;
}

#minus{
    padding-right: 0%;
    color: red;
    background-color: rgb(64, 130, 64);
    border-radius: 100%;
}